
/*-----about---*/
ul .a{
    list-style-type:disc ;
  }
  
  
  
  
  
  
  
  /*------------------- Trust section starts from here ---------------*/
  #trust {
    text-align: center;
    padding: 8vw;
  }
  
  #trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  #trust .trust-img img {
    width: 90px;
    height: auto;
  }
  /*------------------- Trust section ends from here ---------------*/
  
  /*------------------------------------------------------------------*/
  /*------------------- Tablet screen starts from here ---------------*/
  /*------------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    #about-container {
      padding: 8vw 4vw 2vw 4vw;
    }
  
    #about-container .about-img {
      padding-right: 30px;
    }
  
    #trust .trust-img img {
      width: 50px;
      height: auto;
    }
  }
  
  /*------------------------------------------------------------------*/
  /*------------------- Smartphone screen starts from here ---------------*/
  /*------------------------------------------------------------------*/
  @media screen and (max-width: 475px) {
    #about-container {
      flex-direction: column-reverse;
    }
  
    #about-container .about-img {
      width: 100%;
      padding: 0;
    }
  
    #about-container .about-text {
      width: 100%;
      padding-bottom: 20px;
    }
  
    #trust .trust-img {
      margin-top: 40px;
      flex-wrap: wrap;
    }
  
    #trust .trust-img img {
      width: 60px;
      margin: 10px 15px;
      height: auto;
    }
  }
  